{% extends 'staff/base.html' %}
{% load static %}
{% block title %}Relayer une alerte{% endblock title %}

{% block main-content %}
  
<section class="section">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="card">
                <div class="card-body">   
                    <h5 class="card-title">Relayer alerte</h5>
                    <form action="" method="post" novalidate enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="row mb-3">
                            <label for="inputText" class="col-sm-4 col-form-label">{{ field.label_tag }}</label>
                            <div class="col-sm-8">
                                {{ field }}
                                <small class="text-danger">{{ field.errors }}</small>
                                <br>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="row">
                            <div class="col text-center">
                                <button type="submit" class="btn btn-primary w-100">Valider</button>
                            </div>
                        </div>
                    </form><!-- End General Form Elements -->
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock main-content %}