{% extends 'staff/base.html' %}
{% load static %}
{% block title %}Ajouter un nouveau{% endblock title %}

{% block main-content %}

    <div class="pagetitle">
        <h1>Ajouter un nouveau</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Accueil</a></li>
                <li class="breadcrumb-item">Informations</li>
                <li class="breadcrumb-item active">Publier</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

  
<section class="section">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="card">
                <div class="card-body">                 
                    {% comment %} <h5 class="card-title">Publication de l'information</h5> {% endcomment %}
                    <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">{{info.title}}</h5>
                          {{info.description}}
                          </div>
                      </div>
                    <form action="" method="post" novalidate>
                        {% csrf_token %}
                        <div class="row mb-3">
                            <label for="inputText" class="col-sm-4 col-form-label">Qui peut voir cette publication ?</label>
                            <div class="col-sm-8">
                                {{form.focalpoint}}
                                <small class="text-danger">{{form.focalpoint.errors|striptags}}</small>
                                <br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <button type="submit" class="btn btn-primary w-100">Publier</button>
                            </div>
                        </div>
                    </form><!-- End General Form Elements -->
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock main-content %}