{% extends 'administrator/base.html' %}
{% load static %}
{% block title %}Ajouter un nouveau{% endblock title %}

{% block main-content %}
  
<section class="section">
    <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="card">
                <div class="card-body">   
                    {% if not edit %}              
                    <h5 class="card-title">Aujouter un nouveau manager</h5>
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        Le mot de passe par défaut est <span class="color-success"><strong>'manager_001'</strong></span>. Pour des raison de sécurité, le manager concerné se doit de le modifier avant d'avoir accès à la plateforme.
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                      {% else %}
                      <h5 class="card-title">Modification</h5>
                      {% endif %}
                    <form action="" method="post" novalidate>
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="row mb-3">
                            <label for="inputText" class="col-sm-4 col-form-label">{{ field.label_tag }}</label>
                            <div class="col-sm-8">
                                {{ field }}
                                <small class="text-danger">{{ field.errors }}</small>
                                <br>
                            </div>
                        </div>
                        {% endfor %}
                        {% comment %} <div class="row mb-3">
                            <label class="col-sm-4 col-form-label">Nom</label>
                            <div class="col-sm-8">
                                {{form.nom}}
                                <small class="text-danger">{{form.nom.errors|striptags}}</small>
                                <br>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label">Prénoms</label>
                            <div class="col-sm-8">
                                {{form.prenom}}
                                <small class="text-danger">{{form.prenom.errors|striptags}}</small>
                                <br>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Département</label>
                            <div class="col-sm-8">
                                {{form.departement}}
                                <small class="text-danger">{{form.departement.errors|striptags}}</small>
                                <br>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label">Pays</label>
                            <div class="col-sm-8">
                                {{form.country}}
                                <small class="text-danger">{{form.country.errors|striptags}}</small>
                                <br>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Point focal</label>
                            <div class="col-sm-8">
                                {{form.focal_point}}
                                <small class="text-danger">{{form.focal_point.errors|striptags}}</small>
                                <br>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputPassword" class="col-sm-4 col-form-label">Date de naissance</label>
                            <div class="col-sm-8">
                                {{form.date_of_birth}}
                                <small class="text-danger">{{form.date_of_birth.errors|striptags}}</small>
                                <br>
                            </div>
                        </div> {% endcomment %}
                        <div class="row">
                            <div class="col text-center">
                                <button type="submit" class="btn btn-primary w-100">Valider</button>
                            </div>
                        </div>
                    </form><!-- End General Form Elements -->
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock main-content %}